@import 'd:/work/wap/develop/public/sass/commonScss.scss';
#position-result{
    margin-top: $marginTopPosition; 
    padding: 0px $padLeft;
    background-color: white;
    li{
        border-bottom: 1px solid $hrColor;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-box-pack: center;
        font-size: 12px;
        padding: getRem(15) 0px;
    }
    .name{
        margin-bottom: getRem(5);
        font-size: $sizeB;
    }
    .address{
        font-size: $sizeH;
    }
}
