.color-0 {
  color: #000000 !important; }

.bgColor-0 {
  background-color: #000000 !important; }

.bdColor-0 {
  border-color: #000000 !important; }

.color-1 {
  color: #333333 !important; }

.bgColor-1 {
  background-color: #333333 !important; }

.bdColor-1 {
  border-color: #333333 !important; }

.color-2 {
  color: #666666 !important; }

.bgColor-2 {
  background-color: #666666 !important; }

.bdColor-2 {
  border-color: #666666 !important; }

.color-3 {
  color: #999999 !important; }

.bgColor-3 {
  background-color: #999999 !important; }

.bdColor-3 {
  border-color: #999999 !important; }

.color-4 {
  color: #ffffff !important; }

.bgColor-4 {
  background-color: #ffffff !important; }

.bdColor-4 {
  border-color: #ffffff !important; }

.color-5 {
  color: #fa4700 !important; }

.bgColor-5 {
  background-color: #fa4700 !important; }

.bdColor-5 {
  border-color: #fa4700 !important; }

.color-6 {
  color: #f0f0f0 !important; }

.bgColor-6 {
  background-color: #f0f0f0 !important; }

.bdColor-6 {
  border-color: #f0f0f0 !important; }

.color-7 {
  color: #d7d7d7 !important; }

.bgColor-7 {
  background-color: #d7d7d7 !important; }

.bdColor-7 {
  border-color: #d7d7d7 !important; }

.color-8 {
  color: #e5e5e5 !important; }

.bgColor-8 {
  background-color: #e5e5e5 !important; }

.bdColor-8 {
  border-color: #e5e5e5 !important; }

.color-9 {
  color: #fe0101 !important; }

.bgColor-9 {
  background-color: #fe0101 !important; }

.bdColor-9 {
  border-color: #fe0101 !important; }

.color-10 {
  color: #cccccc !important; }

.bgColor-10 {
  background-color: #cccccc !important; }

.bdColor-10 {
  border-color: #cccccc !important; }

.color-11 {
  color: #fc7c1e !important; }

.bgColor-11 {
  background-color: #fc7c1e !important; }

.bdColor-11 {
  border-color: #fc7c1e !important; }

.color-12 {
  color: #b2b2b2 !important; }

.bgColor-12 {
  background-color: #b2b2b2 !important; }

.bdColor-12 {
  border-color: #b2b2b2 !important; }

.color-13 {
  color: #007aff !important; }

.bgColor-13 {
  background-color: #007aff !important; }

.bdColor-13 {
  border-color: #007aff !important; }

.color-14 {
  color: #ffedeb !important; }

.bgColor-14 {
  background-color: #ffedeb !important; }

.bdColor-14 {
  border-color: #ffedeb !important; }

.color-15 {
  color: #f8f8f8 !important; }

.bgColor-15 {
  background-color: #f8f8f8 !important; }

.bdColor-15 {
  border-color: #f8f8f8 !important; }

.color-16 {
  color: #8a8a8a !important; }

.bgColor-16 {
  background-color: #8a8a8a !important; }

.bdColor-16 {
  border-color: #8a8a8a !important; }

.color-17 {
  color: #6c6c6c !important; }

.bgColor-17 {
  background-color: #6c6c6c !important; }

.bdColor-17 {
  border-color: #6c6c6c !important; }

.color-18 {
  color: #e2e2e2 !important; }

.bgColor-18 {
  background-color: #e2e2e2 !important; }

.bdColor-18 {
  border-color: #e2e2e2 !important; }

/*# sourceMappingURL=theme.css.map */
